body {
    margin: 0;
    padding: 0;
}
p,
h1 {
    font-family: 'PT Sans Narrow';
    color: lightgray;
}
.navbar {
    position: fixed;
    background: repeating-linear-gradient(
        135deg,
        #252525,
        #252525 10px,
        #121212 10px,
        #121212 20px
    );
    width: 100%;
    height: 3em;
    top: 0;
    left: 0;
    z-index: 50;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 3em 0;
    display: flex;
    top: 0;
    float: right;
}
.navbar li {
    text-align: center;
    width: 4em;
    height: 3em;
    color: #ffffff;
    background-color: #121212;
    display: inline-block;
    padding: 0 1em 0;
    line-height: 3em;
}
.navbar li:hover {
    background-color: #252525;
}
.navbar a {
    text-decoration: none;
    font-family: 'PT Sans Narrow';
    font-size: 1em;
    float: left;
}
/* Logos and Ship */
.logocontainer {
    float: left;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    background-color: rgba(16, 16, 16, 1);
    margin-left: 1.5em;
    z-index: 2;
}
.logocontainer img {
    width: inherit;
    height: inherit;
}
.textlogo {
    text-align: justify
}
.textlogo h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 4.5em 0;
    font-family: 'Press Start 2P';
    font-size: 2em;
    color: #ffffff;
}
/* Logo animation */
.faded,
.d1 {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    animation: fadein 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}
.d1{
    opacity: 0;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation: 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Background animation */
@keyframes animateBackground {
    from { background-position: 0 0; }
    to { background-position: -960px 0; }
}
.layer1, .layer2, .layer3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    z-index: -1;
}
.layer1 {
    background-image: url("../images/layer1.png");
    animation: animateBackground 80s linear infinite;
}
.layer2 {
    background-image: url("../images/layer2.png");
    animation: animateBackground 40s linear infinite;
}
.layer3 {
    background-image: url("../images/layer3.png");
    animation: animateBackground 20s linear infinite;
}

/* Info */
.panelcontainer {
    display: grid;
    margin-top: 450px;
    margin-bottom: 70px;
    grid-template-columns: 10% 300px 10px auto auto 10%;
    grid-template-rows: 700px;
}
.twitter {
    background-color: #f4f7f9;
    grid-column-start: 2;
    grid-column-end: 2;
}
.panel1 {
    background-color: #f4f7f9;
    grid-column-start: 4;
    grid-column-end: 4;
    border-right: 1px solid #ddd;
}
.panel2 {
    background-color: #fff;
    grid-column-start: 5;
    grid-column-end: 5;
}
.panel1,
.panel2 {
    text-align: center;
    padding: 1em;
}
.panel1 h1,
.panel2 h1 {
    color: #202020;
    font-size: 2.5em;
}
.panel1 p,
.panel2 p {
    color: #202020;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.1em;
}
