body {
    margin: 0;
    padding: 0;
}

/* Preloader */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: visible;
    background: #000;
}
#preload-image {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  animation: animatePreloadImage 0.7s alternate infinite;
}
@keyframes animatePreloadImage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

/* Background animation */

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -960px 0;
    }
}

.layer1,
.layer2,
.layer3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    z-index: -1;
}

.layer1 {
    background-image: url("../images/layer1.png");
    animation: animateBackground 80s linear infinite;
}

.layer2 {
    background-image: url("../images/layer2.png");
    animation: animateBackground 40s linear infinite;
}

.layer3 {
    background-image: url("../images/layer3.png");
    animation: animateBackground 20s linear infinite;
}

/* Text Logo */
#textlogo {
    color: white;
    font-size: 45px;
    line-height: 65px;
    font-family: 'Press Start 2P';
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-shadow: 2px 2px 0 #000;
}
#textlogo img {
    float: left;
    margin-right: 30px;
    width: 130px;
    height: auto;
}
/* Navbar */
nav {
    margin: 0;
    padding: 0;
    border-radius: 6px 6px 0 0;
    list-style-type: none;
    overflow: hidden;
    background: #151515;
    width: 100%;
    height: 60px;
}
nav a {
    float: right;
    background: #151515;
    display: block;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 17px;
    line-height: 60px;
    padding: 0 30px;
    color: white;
    text-decoration: none;
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}
nav a:hover {
    box-shadow: inset 0 -7px 0 0 white;
}
.hackyspace {
    margin-left: 10px;
}

/* Panels */
.server-info {
    background: rgb(255, 255, 255);
    height: 200px;
    border-bottom: 20px solid #151515;
    margin-bottom: 30px;
}
.heading {
    background-image: linear-gradient(transparent, #000), url(https://i.imgur.com/4Ad24iu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    word-wrap: break-word;
    height: 250px;
    border-top: 20px solid #151515;
}
.heading h1 {
  padding: 170px 30px;
  bottom: 0;
  color: #fff;
}
.panel-numero-uno {
  padding: 50px;
  background: rgb(255, 255, 255);
  height: auto;
  border-bottom: 20px solid #151515;
}
.panel-numero-uno img {
    float: right;
    width: 300px;
    margin-left: 30px;

}
hr {
  color: #dcdcdc;
  width: 80%;
}
p, li {
  font-size: 1.1em;
  text-align: justify;
  font-family: 'Source Sans Pro';
}
#copyright {
  margin-top: 10px;
}
#copyright p {
  color: #fff;
  font-size: 1em;
}
