body {
    margin: 0;
    padding: 0;
}
p,
h1 {
    font-family: 'PT Sans Narrow';
    color: lightgray;
}
/* Navbar CSS */
.navbar {
    position: fixed;
    background: repeating-linear-gradient(
        135deg,
        #252525,
        #252525 10px,
        #121212 10px,
        #121212 20px
    );
    width: 100%;
    height: 52px;
    top: 0;
    left: 0;
    z-index: 50;
}
/* Define what floats where and whatnot */
.navbar-left {
    float: left;
}
.navbar-right {
    float: right;
}

/* Logo */
.logo-container {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
}
.image-logo-container {
    float: left;
    position: relative;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background-color: #121212;
}
.image-logo {
    width: inherit;
    height: inherit;
}
.text-logo {
    float: right;
    padding: 1em;
    font-family: 'Press Start 2P';
    color: #fff;
    letter-spacing: -1.5px;
    font-smooth: never;
    -webkit-font-smoothing: none;
}

/* Navbar elements */

.navbar-right ul {
    list-style-type: none;
    margin: 0 30px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.6);
}
.navbar-right li {
    float: right;
}
.navbar-right li a {
    text-decoration: none;
    display: block;
    font-family: 'PT Sans Narrow';
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 52px;
    padding: 0 20px 0;
}
.navbar-right li a:hover {
    background-color: #252525;
}

/* Background animation */
@keyframes animateBackground {
    from { background-position: 0 0; }
    to { background-position: -960px 0; }
}
.layer1, .layer2, .layer3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    z-index: -1;
}
.layer1 {
    background-image: url("../images/layer1.png");
    animation: animateBackground 80s linear infinite;
}
.layer2 {
    background-image: url("../images/layer2.png");
    animation: animateBackground 40s linear infinite;
}
.layer3 {
    background-image: url("../images/layer3.png");
    animation: animateBackground 20s linear infinite;
}

/* Info */
.panelcontainer {
    display: grid;
    margin-top: 300px;
    margin-bottom: auto;
    grid-template-columns: 15% 300px 10px auto auto 15%;
    grid-template-rows: 600px;
}
.twitter {
    background-color: #f4f7f9;
    grid-column-start: 2;
    grid-column-end: 2;
}
.panel1 {
    background-color: #f4f7f9;
    grid-column-start: 4;
    grid-column-end: 4;
    border-right: 1px solid #ddd;
}
.panel2 {
    background-color: #fff;
    grid-column-start: 5;
    grid-column-end: 5;
}
.panel1,
.panel2 {
    text-align: center;
    padding: 1em;
    min-width: 400px;
}
.panel1 h1,
.panel2 h1 {
    color: #202020;
}
.panel1 p,
.panel2 p {
    color: #202020;
    text-align: left;
    word-wrap: break-word;
    font-size: 20px;
}
